@media (min-width: 800px) {
	header {
		widows: 100%;
		overflow
	}
}

@media (min-width: 1080px) {
	header {
		width:100%;
		overflow:hidden;
		background:rgba(255, 255, 255, 0);
		margin-bottom:0;
		height: 70px;
		padding: 10px 0;
	}
}

@media (min-width: 600px) {
	nav ul{
		display: none;
	}

	input:checked  ~ ul{
		display:block;
	}

	input {
		display: none;
	}

	label {
		display: inline-block;
		border: 1px solid black;
		border-radius: 5px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-weight: bold;
		text-align: center;
		user-select: none;
	}
}


body {
	background-image: url(/Images/Index/Comp_1.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: initial;
}


header nav {
	float: left;
	line-height:20px;
	margin-left: 30px;
	display: inline-block;
	width: 50%;
	margin-top: 10px;
}

header nav a {
	display:inline;
	color:#282828;
	text-decoration:none;
	padding: 10px 5px;
	line-height:normal;
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
	font-weight:normal;
}

header nav a:hover {
	color:#9a9a9a;
}

.act_index {
	display:inline;
	color:#282828;
	text-decoration:none;
	padding: 10px 5px;
	line-height:normal;
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
	font-weight:bold;
}

.barra {
	display: inline;
	width: 50%;
}

.iconos {
	display: inline;
	margin-top: 10px;
	margin-right: 30px;
	color: #282828;
	float: right;
	font-size: 20px;
}

.iconos:hover {
	color:#9a9a9a;
}

h1 {
	font-family: 'Barlow', sans-serif;
	font-size: 60px;
	color: #282828;
	float: left;
	margin-left: 30px;
	margin-top: 5px;
	width: 100%;
}


.index {
	display: inline-block;
	width: 100%;
	margin-top: 250px;
	font-family: 'Barlow', sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-left: 30px;
	margin-bottom: 5px;
	color: #282828;
}


.landing {
	border-color: #282828;
	border-radius: 5px;
	border-bottom: 1px;
	color: #282828;
	height: 35px;
	width: 200px;
	font-family: 'Barlow', sans-serif;
	font-weight: bolder;
	font-size: 13px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	background: transparent;
	margin: 0 0 0 30px;
	text-decoration: none;
	float: left;
}

button > a {
	text-decoration: inherit;
	color: #282828;
}

.landing:hover {
	color: #282828;
	border-color: #c7c7c7;
}

.a {
	width: 100px;
	height: 100px;
}

@media (min-width: 800px) {
	.index {
		font-size:50px;
	}

	.banner h1 {
		font-size: 80px;
	}
}

@media (min-width: 1080px) {
	.index {
		font-size:60px;
	}

	.banner h1 {
		font-size: 110px;
	}
}